apiVersion: apps/v1
kind: Deployment
metadata:
  name: checkout
spec:
  replicas: 1
  selector:
    matchLabels:
      app: checkout
  template:
    metadata:
      labels:
        app: checkout
    spec:
      containers:
        - name: checkout
          image: retail-checkout:1.0
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: checkout-config
