apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
        - name: orders
          image: retail-orders:1.0
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: orders-config
