apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-deployment-v2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog
  template:
    metadata:
      labels:
        app: catalog
        version: v2  
    spec:
      containers:
        - name: catalog
          image: retail-catalog:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: RETAIL_CATALOG_PERSISTENCE_PROVIDER
              value: in-memory

